/*styles go here*/

header {
    background: #496958;
    background-image: url(Images/meditation.jpg);
    background-size: cover;
    padding: 2rem 0;
    margin: 0;
    /*width: 100vw;*/
    height: 100vh;
}

body {
  background-color:#f1eee7;
}

h1 {
    font-family: "Lora", serif;
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
}

h2 {
    font-family: "Lora", serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #353535;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #353535;
}

#footer {
    background-color: #496958;
    height: 50px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: .5em;
}

#container {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  background-color: #f1eee7;
}
#homepagelinks {
  display:block;
  background-color: #93AF87;
    text-align:left;;
    text-decoration: none;
    padding: 1px;
}

a:link, a:visited {
color: #e46c5c;
}

#nav {
  width: 100vw;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#nav li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
}

#nav a:link, #nav a:visited {
  display: block;
  color: #fff;
  background-color: #496958;
  text-decoration: none;
  font-family:"Open Sans", sans-serif;
  text-align: center;
  padding: 4px;
}

#nav a:hover, #nav a:active {
  background-color: #93af87;
}
