/*styles go here*/

.index {
  background: #496958;
  background-image: url(Images/meditation2.jpg);
  background-size: cover;
  padding: 2rem 0;
  margin: 0;
  /*width: 100vw;*/
  height: 25vh;
}

.about {
  background: #496958;
  background-image: url(Images/sand.jpg);
  background-size: cover;
  padding: 2rem 0;
  margin: 0;
  /*width: 100vw;*/
  height: 25vh;
}

.membership {
  background: #496958;
  background-image: url(Images/field.jpg);
  background-size: cover;
  padding: 2rem 0;
  margin: 0;
  /*width: 100vw;*/
  height: 25vh;
}

.directory {
  background: #496958;
  background-image: url(Images/buddha.jpg);
  background-size: cover;
  padding: 2rem 0;
  margin: 0;
  /*width: 100vw;*/
  height: 25vh;
}

.resources {
  background: #496958;
  background-image: url(Images/lake.jpg);
  background-size: cover;
  padding: 2rem 0;
  margin: 0;
  /*width: 100vw;*/
  height: 25vh;
}

.blog {
  background: #496958;
  background-image: url(Images/waterfall.jpg);
  background-size: cover;
  padding: 2rem 0;
  margin: 0;
  /*width: 100vw;*/
  height: 25vh;
}

.contact {
  background: #496958;
  background-image: url(Images/rock.jpg);
  background-size: cover;
  padding: 2rem 0;
  margin: 0;
  /*width: 100vw;*/
  height: 25vh;
}

body {
  background-color:#f1eee7;
}

h1 {
  font-family: "Lora", serif;
  font-size: 2.5em;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding-top: 45px;
}

h2 {
  font-family: "Lora", serif;
  font-size: 2em;
  font-weight: bold;
  color: #353535;
  text-align: center;
}

h3 {
  font-family: "Lora", serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  text-align: left;
}

h4 {
  font-family: "Lora", serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #353535;
  text-align: left;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #353535;
}

img {
  width: 100%;
}

#navcontainer{
  text-align: center;
}

#container {
  width: 85%;
  margin: 0 auto;
  text-align: left;
  background-color: #f1eee7;
}

.homepagelinks a:link, .homepagelinks a:visited {
  display: block;
  color: #fff;
  text-decoration: none;
  background-color: #496958;
  text-align: left;
  padding: 8px;
  border: 1px solid #496958;
}

.homepagelinks a:hover, .homepagelinks a:active {
  background-color:#93AF87;
  border: 1px solid #496958;
}

#carrot {
  float: right;
  padding-right: 20px;
}

#footer a:link, .homepagelinks a:visited {
  color: #fff;
}

#nav {
  display: flex;
  flex-flow: column;
  width: 100;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.leader {
  width: 300px;
}

#nav li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

#nav a:link, #nav a:visited {
  display: block;
  color: #fff;
  background-color: #496958;
  text-decoration: none;
  font-family:"Open Sans", sans-serif;
  text-align: center;
  padding: 15px;
}

#nav a:hover, #nav a:active {
  background-color: #93af87;
}

#footer {
  background-color: #496958;
  width: 100;
  height: 50px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: .8em;    text-align: center;
  line-height: 50px;
}

#directories {
  display: block;
  background-color: #93AF87;
  list-style-type: none;
  text-decoration: none;
  padding: 0;
}

#directories li {
  border: 5px solid #f1eee7;
  margin: 0;
  padding: 15px;
  text-align: center;
  text-decoration: none;
}

#directories a:link, a:visited {
  color: #fff;
  border-color: #white;
}

#search {
  display: block;
  background-color: #f1eee7;
  text-align: left;
  border: 2px solid #93af87;
  padding: 4px;
}

#name {
  font-weight: bold;
}

#directorcontainer {
  text-align: center;
  width: 95%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}

.menu-trigger {
    order: 1;
    font-size: 2em;
    width: 2em;
    color: #496958;
    text-decoration: none;
}

.menu-trigger a:visited {
  color: #496958;
}

#nav {
  display: none;
}

a:link {
  color: #ef8375;
}

a:link, a:visited {
  color: #ef8375
}




@media screen and (min-width: 400px){

  h1 {
    font-family: "Lora", serif;
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding-top: 175px;
  }

  .index {
    background: #496958;
    background-image: url(Images/meditation2.jpg);
    background-size: cover;
    padding: 2rem 0;
    margin: 0;
    /*width: 100vw;*/
    height: 50vh;
  }

  .about {
    background: #496958;
    background-image: url(Images/sand.jpg);
    background-size: cover;
    padding: 2rem 0;
    margin: 0;
    /*width: 100vw;*/
    height: 50vh;
  }

  .membership {
    background: #496958;
    background-image: url(Images/field.jpg);
    background-size: cover;
    padding: 2rem 0;
    margin: 0;
    /*width: 100vw;*/
    height: 50vh;
  }

  .directory {
    background: #496958;
    background-image: url(Images/buddha.jpg);
    background-size: cover;
    padding: 2rem 0;
    margin: 0;
    /*width: 100vw;*/
    height: 50vh;
  }

  .resources {
    background: #496958;
    background-image: url(Images/lake.jpg);
    background-size: cover;
    padding: 2rem 0;
    margin: 0;
    /*width: 100vw;*/
    height: 50vh;
  }

  .blog {
    background: #496958;
    background-image: url(Images/waterfall.jpg);
    background-size: cover;
    padding: 2rem 0;
    margin: 0;
    /*width: 100vw;*/
    height: 50vh;
  }

  .contact {
    background: #496958;
    background-image: url(Images/rock.jpg);
    background-size: cover;
    padding: 2rem 0;
    margin: 0;
    /*width: 100vw;*/
    height: 50vh;
  }

  .leader {
    margin-right: 1em;
    margin-bottom: .5em;
    float: left;
  }

  #card-container {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .card {
      width: 30%;
  }
}

@media screen and (min-width:650px) {

  .menu-trigger {
    display: none;
  }

 #nav {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
   background-color: #496958;
 }

 #nav li {
   border-bottom: none;
 }

 #nav a:hover {
   background-color: #93af87;
 }
}
